@page "/success"
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="text-center">
            <i class="bi bi-check-circle-fill" style=font-size:5rem;></i>
            <br>
            <h2>Your application has been received successfully.</h2>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

@code {
}